* {margin: 0; padding: 0; box-sizing: border-box; transition: .4s;}
/*_____DECLARING ROOT VARIABLES_____*/
:root {
    --gradient1: linear-gradient(
        rgb(138, 193, 255),
        rgb(56, 149, 255),
        rgb(0, 117, 251)
    );
    --header_background: rgb(37, 131, 255);
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body {
    font-size: 2rem;
    font-family: sans-serif;
}
.grid_container {
    height: 100vh;
    display: grid;
    grid-template-columns: .6fr 1fr 1fr;
    grid-template-rows: .1fr 1fr 1fr;
    grid-template-areas: 
        "head head head"
        "left mid mid"
        "left mid mid"
}
#header {
    grid-area: head;
    background: var(--header_background);
}
#left_bar {
    grid-area: left;
    background: white;
}
#middle_content {
    grid-area: mid;
    background-color: rgb(248, 255, 228);
}

/*_NAVBAR_*/
nav {
    display: flex;
    justify-content: space-between;
    padding: .7rem;
}
nav h1 {
    font-size: 1.75em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin: 0 3em;
}
ul {
    display: flex;
    justify-items: center;
    align-items: center;
}
li {
    margin: 0rem 1em;
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: white;
    padding: .5em .7em;
    border-radius: 3em;
}
a:hover {
    background: white;
    color: var(--header_background);
}

/*_____LEFT BAR_____*/
.profile_pic {
    cursor: pointer;
    margin: 7rem 0;
}
.beluga_img {
    display: block;
    max-width: 5em;
    border-radius: 50%;
    margin: 0 auto;
}
#left_bar p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin-top: .3em;
}
.left_content {
    margin: 2rem 2rem;
}
.friends img, .groups img, .dms img {
    max-width: 1.6em;
    margin-right: .6em; 
}
.friends, .groups, .dms {
    cursor: pointer;
    display: flex;
    justify-items: center;
    align-items: center;
    border-radius: 2rem;
    padding: 1rem 2rem;
    margin: 1.5rem 0;
    transition: .2s;
}
.friends h2, .groups h2, .dms h2 {
    font-size: 2rem;
    font-weight: 400;
}
